@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@100&display=swap');
html, body {
  height: 100%;
  width: 100%;
}
body {
  font-family: 'Chivo', monospace;
  background-color: #111115; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  cursor: url('cursor.png'),auto;
}
.img1{
  opacity: 50%;
}
h2{
  color:black;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0px 20px;
  overflow: hidden;
}
.nav{
  display: inline;
  float: right;
  color:white;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
a:hover{
  color: #6c6c9d;
}
.project-list{
  background-color: #a9a7c8;
  max-width: 960px;
  margin:auto;
  width:50%;
  height:600px;
  text-align:center;
  padding: 20px 20px 20px 20px;
  border: 3px solid #6c6c9d ;
}
.copyright{
  color: gray;
  text-align: center;
}
.bottom-sect{
  width:auto;
  height: 100px;
  background-color: #0d0d0f;
}
.bottom-sect p{
  position: relative;
  top: 50px;
}
